.jumbotron{
  background-image: url('../img/header_img.jpg');
  color: white;
}
#logo{
  padding-left: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
}

#mouse{
  padding-left: 70px;
  padding-top: 100px;
}