.jumbotron{
  background-image: url('../img/header_img.jpg');
  color: white;
}
#logo{
  padding-left: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
}

#mouse{
  padding-left: 70px;
  padding-top: 100px;
}

#aboutUsLine4{
  padding-right: 180px;
  padding-left: 0px;
}

#services{
  background-image: url("../img/services_img.jpg");
  color: white;
}

#servicesHeading{
  padding-top: 75px;
}

#servicesLine3{
  padding-bottom: 75px;
}